<br />
<br />
<br />
<footer class="page-footer font-small pt-4">
  <div class="container">

    <div class="row">
        <div class="col-md-4 d-flex justify-content-center estilo">
            <p class="font-italic d-flex text-center align-items-center">"Por mais que os tempos estejam dificeis não desista! O amanhã é melhor, confia! 😎"</p>
        </div>
    

    
        <div class=" col-md-4 text-center">
            <h5>Quem Somos</h5>
            <p><a class="text-dark" href="/sobreNos">Sobre Nós</a></p>
            <p><a class="text-dark" href="/equipe">Nossa Equipe</a></p>
            <p><a class="text-dark" href="/parceiros">Nossos Parceiros</a></p>
        </div>
    

    
        <div class="col-md-4 text-center ">
            <h5>Entre em Contato!</h5>
            <p>gengruponick@gmail.com</p>
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://github.com/GenNCK" target="_blank" class="icoGithub ">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/nickgen_/" target="_blank" class="icoInstagram ">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

    </div>

    

    <div class="footer-copyright text-center py-3">
        <span class="text-black">@ 2021 Copyright</span>

    </div>














    <!--
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-black">Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://github.com/GenNCK" target="_blank" class="icoGithub ">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/nickgen_/" target="_blank" class="icoInstagram ">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>

                </ul>
            </div>
        

        <table class="table table-hover">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Titulo</th>
                  <th scope="col">Classificação</th>
                  <th scope="col">Impacto</th>
                  <th scope="col" class="text-right">Modificações</th>
                    
                </tr>
              </thead>
        </table>
        
    

    <div class="footer-copyright text-center py-3">
        <span class="text-black">@ 2021 Copyright</span>

    </div>
    -->
  

    </div>
</footer>
