<footer class="page-footer font-small pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex justify-content-center estilo mt-5">
                <p class="font-italic d-flex text-center align-items-center">"Quem tem coragem para enfrentar os perigos vence-os antes que eles o ameacem."</p>
            </div>
            <div class=" col-md-4 text-center estilo2">
                <h5><strong>Quem Somos</strong></h5>
                <br>
                <p><a class="text-dark" routerLink="/sobreNos">Sobre Nós</a>
                <p><a class="text-dark" href="/equipe">Videos</a></p>
               
              
            </div>
            <div class="col-md-4 text-center estilo2">
                <h5><strong>Entre em Contato!</strong></h5>
                <br>
                <p>gengruponick@gmail.com</p>
                <div class="col-md-12 d-flex justify-content-center">
                    <ul class="social-network d-flex align-items-center">
                        <li>
                            <a href="https://github.com/GenNCK" target="_blank" class="icoGithub ">
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                        </li>

                        <li>
                            <a href="https://www.instagram.com/nickgen_/" target="_blank" class="icoInstagram ">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="footer-copyright text-center py-3">
            <span class="text-black">@ 2021 Copyright</span>

        </div>

    </div>
</footer>