ul.social-network{
    list-style:  none;
}


.fa{
    font-size: 35pt;
    color: black;
    padding: 10px;

}

.fa-instagram:hover{
    color: rgb(95, 92, 92);
}


.fa-github:hover{
    color: rgb(95, 92, 92);
}

.page-footer{
    background-color: #E7D6D9;
}

.estilo{
    font-size: 1.4rem;
    font-family: 'Cormorant Garamond', serif;
}

.estilo2{
    font-family: 'Cormorant Garamond', serif;
}