<div class="container-fluid">

<div class="logo">
  <a href="/">
    <img src="https://i.imgur.com/mQbc4kF.png" alt="" />
  </a>
</div>


<div class="container group">
  <div class="top-matter">
    <div class="title">
      <h1>Tecnologias Utilizada

        <div style="height: 50px"></div>

        <span>Tech</span></h1>
    </div>
    <div class="intro">
      <p>Conheça um pouco sobre as tecnologias que utilizamos para a construção da plataforma Nick!</p>
    </div>
  </div>
</div>

</div>

<div style="height: 120px"></div>




<!--Card-->

<div class="item-grid">

  <h2 class="d-flex justify-content-center texto">Back - End</h2>

  <div style="height: 30px"></div>
  
  <div class="item">
    <div class="item-image">
      <img src="https://i.imgur.com/8lxMLPx.jpg" alt="" />
    </div>
    <div class="item-text">
      <div class="item-text-wrapper">
        <p class="item-text-dek">Eclipse</p>
        <h2 class="item-text-title">Java</h2>
      </div>
    </div>
  </div>
  

  <div class="item">
    <div class="item-image">
      <img src="https://i.imgur.com/jZZrNvN.jpg" alt="" />
    </div>
    <div class="item-text">
      <div class="item-text-wrapper">
        <p class="item-text-dek">Framework</p>
        <h2 class="item-text-title">Spring Boot</h2>
      </div>
    </div>
  </div>


  <div class="item">
    <div class="item-image">
      <img src="https://i.imgur.com/A0NTgtQ.jpg" alt="" />
    </div>
    <div class="item-text">
      <div class="item-text-wrapper">
        <p class="item-text-dek">Banco de Dados</p>
        <h2 class="item-text-title">MySQL</h2>
      </div>
    </div>
  </div>
  

  <div class="item">
    <div class="item-image">
      <img src="https://i.imgur.com/juVkhkr.jpg" alt="" />
    </div>
    <div class="item-text">
      <div class="item-text-wrapper">
        <p class="item-text-dek">Banco de Dados</p>
        <h2 class="item-text-title">PostgreSQl</h2>
      </div>
    </div>
  </div>
  

  <div class="item">
    <div class="item-image">
      <img src="https://i.imgur.com/UsFO9Mh.jpg" alt="" />
    </div>
    <div class="item-text">
      <div class="item-text-wrapper">
        <p class="item-text-dek">Requisição de Http</p>
        <h2 class="item-text-title">Postman</h2>
      </div>
    </div>
  </div>

  
  <div class="item">
    <div class="item-image">
      <img src="https://i.imgur.com/ahPZ0iP.jpg" alt="" />
    </div>
    <div class="item-text">
      <div class="item-text-wrapper">
        <p class="item-text-dek">Documentação</p>
        <h2 class="item-text-title">Swagger</h2>
      </div>
    </div>
  </div>
</div>



<div style="height: 50px"></div>



<!--cad 2-->


<div class="item-grid">

  <h2 class="d-flex justify-content-center texto">Front - End</h2>

  <div style="height: 30px"></div>
  
  <div class="item">
    <div class="item-image">
      <img src="https://cdn.dribbble.com/users/1863078/screenshots/4835474/ux_process-sm.jpg" alt="" />
    </div>
    <div class="item-text">
      <div class="item-text-wrapper">
        <p class="item-text-dek">UI/UX</p>
        <h2 class="item-text-title">Magna Inceptos Commodo</h2>
      </div>
    </div>
  </div>
  
  <div class="item">
    <div class="item-image">
      <img src="https://cdn.dribbble.com/users/278549/screenshots/4831219/doc_in_italy_dribbble03-01.png" alt="" />
    </div>
    <div class="item-text">
      <div class="item-text-wrapper">
        <p class="item-text-dek">Design</p>
        <h2 class="item-text-title">Ligula Ridiculus Tortor</h2>
      </div>
    </div>
  </div>
  
  <div class="item">
    <div class="item-image">
      <img src="https://cdn.dribbble.com/users/2101530/screenshots/4835848/05.png" alt="" />
    </div>
    <div class="item-text">
      <div class="item-text-wrapper">
        <p class="item-text-dek">Concept</p>
        <h2 class="item-text-title">Tellus Ipsum</h2>
      </div>
    </div>
  </div>
  
  <div class="item">
    <div class="item-image">
      <img src="https://cdn.dribbble.com/users/1803663/screenshots/4785720/lighthouse_in_cape_neddick__york_800_600.png" alt="" />
    </div>
    <div class="item-text">
      <div class="item-text-wrapper">
        <p class="item-text-dek">Illustration</p>
        <h2 class="item-text-title">Mattis Vulputate Elit Vestibulum</h2>
      </div>
    </div>
  </div>
  
  <div class="item">
    <div class="item-image">
      <img src="https://cdn.dribbble.com/users/729829/screenshots/4738104/galshir-storytime.png" alt="" />
    </div>
    <div class="item-text">
      <div class="item-text-wrapper">
        <p class="item-text-dek">Design</p>
        <h2 class="item-text-title">Justo Sit</h2>
      </div>
    </div>
  </div>
  
  <div class="item">
    <div class="item-image">
      <img src="https://cdn.dribbble.com/users/107759/screenshots/4718965/exo.png" alt="" />
    </div>
    <div class="item-text">
      <div class="item-text-wrapper">
        <p class="item-text-dek">UI/UX</p>
        <h2 class="item-text-title">Tellus Ullamcorper Vehicula</h2>
      </div>
    </div>
  </div>
</div>