<div class="container-fluid">

<div class="logo">
  <a href="/">
    <img src="https://i.imgur.com/mQbc4kF.png" alt="" />
  </a>
</div>


<div class="container group">
  <div class="top-matter">
    <div class="title">
      <h1>Tecnologias Utilizada

        <div style="height: 50px"></div>

        <span>Tech</span></h1>
    </div>
    <div class="intro">
      <p>Conheça um pouco sobre as tecnologias que utilizamos para a construção da plataforma Nick!</p>
    </div>
  </div>
</div>

</div>

<div style="height: 120px"></div>




<!--Card-->

<div class="item-grid">

  <h2 class="d-flex justify-content-center texto">Back - End</h2>

  <div style="height: 30px"></div>
  
  <div class="item">
    <div class="item-image">
      <img src="https://i.imgur.com/8lxMLPx.jpg" alt="" />
    </div>
    <div class="item-text">
      <div class="item-text-wrapper">
        <p class="item-text-dek">Eclipse</p>
        <h2 class="item-text-title">Java</h2>
      </div>
    </div>
  </div>
  

  <div class="item">
    <div class="item-image">
      <img src="https://i.imgur.com/jZZrNvN.jpg" alt="" />
    </div>
    <div class="item-text">
      <div class="item-text-wrapper">
        <p class="item-text-dek">Framework</p>
        <h2 class="item-text-title">Spring Boot</h2>
      </div>
    </div>
  </div>


  <div class="item">
    <div class="item-image">
      <img src="https://i.imgur.com/A0NTgtQ.jpg" alt="" />
    </div>
    <div class="item-text">
      <div class="item-text-wrapper">
        <p class="item-text-dek">Banco de Dados</p>
        <h2 class="item-text-title">MySQL</h2>
      </div>
    </div>
  </div>
  

  <div class="item">
    <div class="item-image">
      <img src="https://i.imgur.com/juVkhkr.jpg" alt="" />
    </div>
    <div class="item-text">
      <div class="item-text-wrapper">
        <p class="item-text-dek">Banco de Dados</p>
        <h2 class="item-text-title">PostgreSQl</h2>
      </div>
    </div>
  </div>
  

  <div class="item">
    <div class="item-image">
      <img src="https://i.imgur.com/UsFO9Mh.jpg" alt="" />
    </div>
    <div class="item-text">
      <div class="item-text-wrapper">
        <p class="item-text-dek">Requisição de Http</p>
        <h2 class="item-text-title">Postman</h2>
      </div>
    </div>
  </div>

  
  <div class="item">
    <div class="item-image">
      <img src="https://i.imgur.com/ahPZ0iP.jpg" alt="" />
    </div>
    <div class="item-text">
      <div class="item-text-wrapper">
        <p class="item-text-dek">Documentação</p>
        <h2 class="item-text-title">Swagger</h2>
      </div>
    </div>
  </div>
</div>



<div style="height: 50px"></div>



<!--cad 2-->


<div class="item-grid">

  <h2 class="d-flex justify-content-center texto">Front - End</h2>

  <div style="height: 30px"></div>
  
  <div class="item">
    <div class="item-image">
      <img src="https://i.imgur.com/PeoxLXI.jpg" alt="" />
    </div>
    <div class="item-text">
      <div class="item-text-wrapper">
        <p class="item-text-dek">Linguagem de Marcação</p>
        <h2 class="item-text-title">HTML</h2>
      </div>
    </div>
  </div>
  
  <div class="item">
    <div class="item-image">
      <img src="https://i.imgur.com/TMnQxjh.jpg" alt="" />
    </div>
    <div class="item-text">
      <div class="item-text-wrapper">
        <p class="item-text-dek">Linguagem de Estilização</p>
        <h2 class="item-text-title">CSS</h2>
      </div>
    </div>
  </div>
  
  <div class="item">
    <div class="item-image">
      <img src="https://i.imgur.com/mcanU2F.jpg" alt="" />
    </div>
    <div class="item-text">
      <div class="item-text-wrapper">
        <p class="item-text-dek">Lógica Estruturada</p>
        <h2 class="item-text-title">JavaScript</h2>
      </div>
    </div>
  </div>
  
  <div class="item">
    <div class="item-image">
      <img src="https://i.imgur.com/AJ0Gyi6.jpg" alt="" />
    </div>
    <div class="item-text">
      <div class="item-text-wrapper">
        <p class="item-text-dek">Lógica para Front-End</p>
        <h2 class="item-text-title">TypeScript</h2>
      </div>
    </div>
  </div>
  
  <div class="item">
    <div class="item-image">
      <img src="https://i.imgur.com/5eunKYL.jpg" alt="" />
    </div>
    <div class="item-text">
      <div class="item-text-wrapper">
        <p class="item-text-dek">Framework</p>
        <h2 class="item-text-title">Bootstrap</h2>
      </div>
    </div>
  </div>
  
  <div class="item">
    <div class="item-image">
      <img src="https://i.imgur.com/gDM7Cae.jpg" alt="" />
    </div>
    <div class="item-text">
      <div class="item-text-wrapper">
        <p class="item-text-dek">Framework de Aplicação Web</p>
        <h2 class="item-text-title">Angular</h2>
      </div>
    </div>
  </div>
</div>