
<div class="bgFundo">
  <app-encima></app-encima>
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <div class="row">
            <div class="col-md-12 text-dark">
              <h4>PAGINA INICIAL</h4>
            </div>
          </div>
        </div>

        <div class="col-md-12 d-flex justify-content-center">
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-danger mr-3" data-toggle="modal" data-target="#novaPostagem">Nova postagem</button>
              <a class="btn btn-outline-danger" href="#postagens" routerLink='/paginaInicial'>Ver Postagem</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mb-5 mt-5 " id="postagens">

    <nav  >
      <div class="nav nav-tabs d-flex justify-content-center direita transp" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-todasPostagens-tab"
          data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens"
          aria-selected="true">Todas as postagens</a>

        <a (click)='findByIdUser()' class="nav-item nav-link text-secondary font-weight-bold"
          id="nav-minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens" role="tab"
          aria-controls="nav-minhasPostagens" aria-selected="false">Minhas
          postagens</a>

        <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-postagemTema-tab" data-toggle="tab"
          href="#postagemTema" role="tab" aria-controls="nav-postagemTema" aria-selected="false">Postagem por Tema</a>
      </div>
    </nav>


    <div class="tab-content scroll" id="nav-tabContent">
      <div class="tab-pane fade show active " id="todasPostagens" role="tabpanel"
        aria-labelledby="nav-todasPostagens-tab">

        <div class="card text-lef mb-5 direita" *ngFor='let i of listaPostagens'>
          <div class="card-header">
            <h5>{{i.tema.titulo}}</h5>
          </div>
          <div class="card-body d-flex align-items-center justify-content-between">
            <div class="col-md-2">
              <img
                src="https://static-cse.canva.com/blob/183616/Como-Tirar-e-Editar-Sua-Foto-para-Perfil-em-Redes-Sociais-featuredimage-e1559023010630.121d5a89.jpg"
                alt="" width="100px" height="100px" class="rounded-circle">
            </div>

            <div class="col-md-7">
              <h5 class="card-title">{{i.resumo}}</h5>
              <p class="card-text">{{i.texto}}</p>
            </div>

            <div class="col-md-3 d-flex align-items-end justify-content-center">
              <p><small class="text-muted">
                  {{i.data | date: 'dd/MM/yyyy'}} ás {{i.data | date:'HH:mm'}}
                </small>
                <small class="text-muted">
                   &nbsp; por: {{i.usuario.nome}}
                </small>
              </p>


            </div>
          </div>
        </div>
      </div>


      <div class="tab-pane fade " id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">
        <div class="card text-left scrollAuto direita mb-5" *ngFor='let i of user.postagem'>
          <div class="card-header">
            <h5>{{i.tema.titulo}}</h5>

            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">{{i.resumo}}</p>
              <p class="card-text">{{i.texto}}<small class="text-muted">
                  {{i.data | date: 'dd/MM/yyyy'}} as {{i.data | date:'HH:mm'}}
                </small></p>

              <a [routerLink]="['/postagem-edit', i.id]" class="text-info mr-3" href="">Editar</a>
              <a [routerLink]="['/postagem-delete', i.id]" class="text-danger" href="">Apagar</a>
            </div>
          </div>
        </div>

      </div>

      <div class="tab-pane fade" id="postagemTema" role="tabpanel" aria-labelledby="nav-postagemTema-tab">

        <div *ngFor='let tema of listaTemas'>
          <div class="card text-left direita mb-5" *ngFor='let i of tema.postagem'>

            <div class="card-body">
              <p>{{tema.titulo}}</p>
              <h5 class="card-title">{{i.resumo}}</h5>
              <p class="card-text">{{i.texto}}</p>
              <p class="card-text"><small class="text-muted">
                  {{i.data | date: 'dd/MM/yyyy'}} as {{i.data | date:'HH:mm'}}
                </small></p>
              <p class="card-text"><small class="text-muted">
                  por: {{i.usuario.nome}}

                </small></p>

            </div>
          </div>
        </div>
      </div>
    </div>




    <!-- Modal -->
    <div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="form-group">
              <label for="resumo">Resumo</label>
              <input [(ngModel)]='postagem.resumo' type="text" class="form-control" id="resumo"
                placeholder="Digite o resumo">
            </div>
            <div class="form-group">
              <label for="privacidade">Privacidade</label>
              <input [(ngModel)]='postagem.privacidade' type="text" class="form-control" id="privacidade"
                placeholder="informe a sua privacidade">
            </div>
            <div class="form-group">
              <label for="texto">Texto</label>
              <textarea [(ngModel)]='postagem.texto' class="form-control" name="texto" id="texto" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="tema">Escolha um tema ou <a data-dismiss="modal" routerLink='/tema'>cadastre um
                  novo</a>:</label>
              <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema' (change)='findByIdTema'>
                <option *ngFor='let i of listaTemas' value="{{i.id}}">{{i.titulo}}</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-success" (click)='publicar()' data-dismiss="modal">Publicar</button>
          </div>
        </div>
      </div>
    </div>
  </div>