<app-encima></app-encima>

<div class="container-fluid">
    <div class="row d-flex align-items-center">
        <div class="row">

        
            <div class="col-md-12 d-flex justify-content-center">

                <div class="row ">
                    <div class="col-md-12 text-dark " >
                        <h4>PAGINA INICIAL</h4>
                    </div>
                </div>

            </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-danger mr-3">Nova postagem</button>
                        <a class="btn btn-outline-danger    " href="">Ver Postagem</a>
                    </div>
                </div>

            </div>
        

    </div>




</div>