
<div class="bgFundo ">
  <app-encima></app-encima>
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <div class="row">
            <div class="col-md-12 text-dark direita">
              <h4 class="fs-1">Faça sua Postagem!!</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div style="height: 50px"></div> <!--PARA COLOCAR NO LUGAR DO BR-->


  <div class="container fundo">
    <button class="btn btn fundo2 text-white  " data-toggle="modal" data-target="#novaPostagem">Publicar</button>
  </div>

  <div class="container mb-5 mt-5 " id="postagens">

    <nav  >
      <div class="nav nav-tabs d-flex justify-content-center direita transp" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-todasPostagens-tab"
          data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens"
          aria-selected="true">Todas as postagens</a>

        <a (click)='findByIdUser()' class="nav-item nav-link text-secondary font-weight-bold"
          id="nav-minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens" role="tab"
          aria-controls="nav-minhasPostagens" aria-selected="false">Minhas
          postagens</a>

      </div>
    </nav>


    <div class="tab-content scroll" id="nav-tabContent">
      <div class="tab-pane fade show active " id="todasPostagens" role="tabpanel"
        aria-labelledby="nav-todasPostagens-tab">

        <div class="card text-left mb-5 direita" *ngFor='let i of listaPostagens'>
            <div class="card-header">
              <h5>{{i.tema.titulo}}</h5>
            </div>
            
            <div class="card-body d-flex align-items-center justify-content-between">
              <div class="col-md-2">
                <img
                  src="{{i.usuario.foto}}"
                  alt="" width="100px" height="100px" class="rounded-circle">
              </div>

              <div class="col-md-7">
                <h4 class="card-title">{{i.usuario.nome}}</h4>
                <h6 class="card-title">{{i.resumo}}</h6>

                <p class="card-text">{{i.texto}}</p>
              </div>

              <div class="col-md-3 d-flex align-items-end justify-content-center">
                <p><small class="text-muted">
                    {{i.data | date: 'dd/MM/yyyy'}} ás {{i.data | date:'HH:mm'}}
                  </small>
                </p>
              </div>  
          </div>
          
            <div class="col-md-12 text-center">
              <img  src="{{i.imagem}}" alt="" width="500px" height="500px">
            </div>
         
          
        </div>
      </div>


      <div class="tab-pane fade " id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">
        <div class="card text-left scrollAuto direita mb-5" *ngFor='let i of user.postagem'>
          <div class="card-header">
            <h5>{{i.tema.titulo}}</h5>
            </div>


            <div class="card-body">
              <h5 class="card-title"></h5>
              <h5 class="card-text">{{i.resumo}}</h5>
              <p class="card-text">{{i.texto}}</p>
              <p><small class="text-muted">
                {{i.data | date: 'dd/MM/yyyy'}} as {{i.data | date:'HH:mm'}}
              </small></p> 
              <p ><small class="text-muted">
                <div class="col-md-12 text-center">
                  <img  src="{{i.imagem}}"  width="500px" height="500px">
                </div>
                  <a [routerLink]="['/postagem-edit', i.id]" class="text-info mr-3" href="">Editar</a>
                  <a [routerLink]="['/postagem-delete', i.id]" class="text-danger" href="">Apagar</a>
                </small></p>
               
             
            </div>
          </div>
        </div>
    </div>




    <!-- Modal -->
    <div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="form-group">
              <label for="resumo">Resumo do seu depoimento*</label>
              <input [(ngModel)]='postagem.resumo' type="text" class="form-control" id="resumo"
                placeholder="Digite o resumo">
            </div>

            <div class="form-group">
              <label for="privacidade">Impacto*</label>
              <input [(ngModel)]='postagem.privacidade' type="text" class="form-control" id="privacidade"
                placeholder="Baixo, Moderado e Grande">
            </div>

            <div class="form-group">
              <label for="texto">Texto*</label>
              <textarea [(ngModel)]='postagem.texto' class="form-control" name="texto" id="texto" rows="3"></textarea>
            </div>

            <div class="form-group">
              <label for="imagem">Imagem*</label>
              <input [(ngModel)]='postagem.imagem' type="text" class="form-control" id="imagem"
                placeholder="Coloque o Link da Imagem">
            </div>
            
            <div class="form-group">
              <label for="tema">Escolha um tema ou <a data-dismiss="modal" routerLink='/tema'>cadastre um novo</a>:*</label>

              <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema' (change)='findByIdTema'>
                <option *ngFor='let i of listaTemas' value="{{i.id}}">{{i.titulo}}</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-success" (click)='publicar()' data-dismiss="modal">Publicar</button>
          </div>
        </div>
      </div>
    </div>
  </div>