<header>
  <div class="logo">
    <a href="/">
      <img src="https://i.imgur.com/mQbc4kF.png" alt="" />
    </a>
  </div>

  <nav>
    <ul class="mt-2">
      <li><a href="#">Home</a></li>
      <li><a href="#">Sobre nós</a></li>
      <li><a href="#">Equipe</a></li>
      <li><a href="#">Parceiros</a></li>
    </ul>

    <div class="botoes">
      <button type="submit" class="entrar"><a class="link-botao-entrar" href="/entrar">Entrar</a>
      </button>

      <button type="submit" class="cadastrar"> <a class="link-botao-cadastrar" href="/cadastrar">Cadastrar</a></button>
    </div>
  </nav>
</header>
