header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

header .logo {
    position: relative;
    width: 65px;
    height: 65px;
    overflow: hidden;
}

.logo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

nav ul {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    padding: 5px 10px;
    color: rgba(0, 0, 0, .4);
}

nav ul li a:hover {
    color: #000;
}


.botoes {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.botoes button {
    width: 80px;
    height: 35px;
    padding: 0;
    border-radius: 4px;
    border: transparent;
    background: transparent;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

.botoes button.entrar {
    border: solid 1px salmon;
    color: salmon;
    transition: all 400ms ease;
}

.botoes button.entrar:hover {
    background: salmon;
    color: #fff;
}


.botoes button.cadastrar {
    background: salmon;
}


.link-botao-entrar{
    color: salmon;
    transition: all 400ms ease;
    text-decoration: none;
    width: 100px !important;
    height: 100px !important;
    
}

.link-botao-entrar:hover{
    color: #fff;
}

.link-botao-cadastrar{
    text-decoration: none;
    color: #fff;
}
