<div class="container-fluid">

  <div class="logo">
    <a href="home">
    <img src="https://i.imgur.com/mQbc4kF.png" alt="" />
  </a>
  </div>

  <div class="row d-flex align-items-center">
    <div class="col-md-7" id="img-bg"></div>

    <div class="col-md-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <h1 class="text-center-mb-3 d-flex justify-content-center"> <strong>Cadastre-se</strong></h1>
        </div>
      </div>
      
      <div class="form-group">
        <label for="nome">Nome*</label>
        <input [(ngModel)]='user.nome'
          class="form-control"
          type="text"
          name="nome"
          id="nome"
          placeholder="Seu Nome"
        />
      </div>

      <div class="form-group">
        <label for="usuario">Usuario*</label>
        <input [(ngModel)]='user.usuario'
          class="form-control"
          type="usuario"
          name="usuario"
          id="usuario"
          placeholder="Ex: usuario@hotmail.com"
        />
      </div>

      <div class="form-group">
        <label for="foto">Link da Foto</label>
        <input [(ngModel)]='user.foto'
        class="form-control" 
        type="text" 
        name="foto" 
        id="foto" 
        placeholder="Link da sua Foto">
    </div>

      <div class="form-group">
        <label for="senha">Senha*</label>
        <input (input)='confirmSenha($event)'
          class="form-control"
          type="password"
          name="senha"
          id="senha"
          placeholder="Sua senha"
        />
      </div>

      <div class="form-group">
        <label for="confirmSenha">Confirmar Senha*</label>
        <input [(ngModel)]='user.senha'
          class="form-control"
          type="password"
          name="confirmSenha"
          id="confirmSenha"
          placeholder="Confirme sua senha"
        />
      </div>


      <hr class="mt-4 mb-4" width="495" />

      <p class="text-center justify align-center">Seja Bem Vindo!!!</p>

      <div class="d-flex justify-content-center mb-5">
        
        <button type="submit" class="btn btn-outline-danger mr-4" (click)='cadastrar()'>Cadastrar
        </button>

        <button type="submit" class="btn btn-danger mr-4" routerLink='/home'>Cancelar</button>
      </div>
    </div>
  </div>
</div>