<div class="logo">
  <a href="home">
  <img src="https://i.imgur.com/mQbc4kF.png" alt="" />
</a>
</div>

<div class="container-fluid">
  <div class="row d-flex align-items-center">
    <div class="col-md-7" id="img-bg"></div>

    <div class="col-md-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-5 mr-5">
          <h1 class="text-center-mb-5" style="text-align: center">Entrar</h1>
        </div>
      </div>
      <div class="form-group mr-5">
        <label for="usuario">Usuario</label>
        <input
          class="form-control"
          type="text"
          name="usuario"
          id="usuario"
          placeholder="Seu usuario"
        />
      </div>

      <div class="form-group mr-5">
        <label for="senha">Senha</label>
        <input
          class="form-control"
          type="password"
          name="senha"
          id="senha"
          placeholder="Sua senha"
        />
      </div>

      <hr class="mt-5 mb-5" />

      <p class="text-center">Não tem uma conta? Cadastre-se</p>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-danger mr-3">Entrar</button>
        <button type="submit" class="btn btn-danger">
          <a class="text-white" routerLink="/cadastrar">Cadastre-se</a>
        </button>
      </div>
    </div>
  </div>
</div>
