/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Dancing+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); /*font-family: 'Cormorant Garamond', serif;*/

@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@500;600&family=Petemoss&family=Rokkitt:wght@100&display=swap%27');

@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html{
    scroll-behavior: smooth;
}

/*teste teste teste*/
/*Testeeeeeeeeeeeeeeee*/