.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 520px;
}

.home-item {
    position: relative;
    width: 100%;
    height: 100%;
}

.home-item.esquerda {
    position: relative; /*o elemento passa a aceitar as propriedades Top, Bottom, Left e Right. Com elas você pode alterar o posicionamento do elemento.*/
    flex: 48%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    font-size: 1rem;
}

.home-item.esquerda h1 {
    position: absolute; /* indica que o elemento ficará em uma posição fixa em relação à página.*/
    bottom: 260px;
    padding-left: 20px;
    font-family: 'Cormorant Garamond', serif;
}

.home-item.esquerda p {
    position: absolute;
    right: -180px; /*Comando que trouxa o texto mais para direita*/
    bottom: 45px;
    z-index: 1; /*Deixa o texto em cima da imagem*/
    padding-left: 20px;
    font-family: 'Cormorant Garamond', serif;
}

.home-item.direita {
    width: 100%;
    height: 100%;
    overflow: hidden; /*especifica quando o conteúdo de um elemento de nível de bloco deve ser cortado, exibido com barras de rolagem ou se transborda do elemento.*/
}

.home-item.direita img {
    position: absolute;
    top: 0; /*ajudam a definir de que forma o elemento será posicionado na tela.*/
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 600px) {
    .home {
        flex-direction: column;
    }

    .home-item {
        padding: 20px;
    }

    .home-item.esquerda {
        flex: 50%;
        row-gap: 10px;
    }

    .home-item.esquerda h1 {
        position: relative;
        bottom: 0;
        padding-left: 0;
    }

    .home-item.esquerda p {
        position: relative;
        right: 0;
        bottom: 0;
        z-index: 0;
        padding-left: 0;
        text-align: justify;
    }

    .home-item.direita {
        width: 410px;
        height: 100%;
    }

    .home-item.direita img {
        width: 90%;
        height: 100%;
    }
}
