<app-menu></app-menu>

<div class="home">
    <div class="home-item esquerda">
        <h1>Nick</h1>
        <p>
            Somos um grupo de estudantes de Desenvolvimento Web Full-Stack do bootcamp da Generation Brasil,
            e fomos desafiados a criar um projeto cujo impacto social estivesse de acordo com um dos Objetivos
            de Desenvolvimento Paz, Justiça e Instituições Eficazes da ONU, a Meta
            escolhida foi 16.2 Acabar com abuso, exploração, tráfico e todas
            as formas de violência e tortura contra crianças. 
            <br> Pensando nisso, desenvolvemos o Nick uma rede social, que tem como promissas
            de autoajuda e autoeducação, assim contendo postagens e até ajuda direta com profissionais para solucionar e direcionar tais problemas, isso tudo com a total segurança e conforto.
        </p>
    </div>

    <div class="home-item direita">
        <img src="https://i.imgur.com/LB60TIc.png" alt="">
    </div>
</div>






















<!--
<app-menu></app-menu>

<div class="container-fluid">
    <div class="flex-row d-flex align-items-center">

        <div class="col-md-6">

            <div class="caixa-texto">

                <h1 class="text-titulo">Nick</h1>
                <br>
                <h4 class="text-paragrafo">
                    <p>
                        Somos um grupo de estudantes de Desenvolvimento Web Full-Stack do bootcamp da Generation Brasil,
                        e fomos desafiados a criar um projeto cujo impacto social estivesse de acordo com um dos
                        Objetivos
                        de Desenvolvimento Paz, Justiça e Instituições Eficazes da ONU, a Meta
                        escolhida foi 16.2 Acabar com abuso, exploração, tráfico e todas
                        as formas de violência e tortura contra crianças.
                    
                </h4>

            </div>

        </div>

        <div class="col-md-6" id="img-bg">


        </div>

    </div>


</div>

<app-rodape></app-rodape>
-->