<div class="header">

    <div class="logo">
      <a href="home">
        <img src="https://i.imgur.com/mQbc4kF.png" alt="" />
      </a>
    </div>

    <div class="headerBg"></div>
    <div class="headerLogo"></div>

    <h1 class="headerTitle">Batatinha Frita 1 2 3.</h1>
  </div>

  <div>
    <div class="aboutTitle">
      <h2 class="aboutTitleText">Who we are?</h2>
    </div>

    <div class="aboutText">
      <p class="aboutTextContent">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque
        officiis impedit exercitationem aperiam culpa repudiandae, architecto
        fugiat cumque dignissimos perferendis rerum eum aliquid assumenda
        consequatur aspernatur accusantium adipisci rem quasi!

        <br />

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex provident
        asperiores quisquam voluptatum dolorem. Hic animi asperiores quibusdam
        eum recusandae, similique obcaecati dolore, porro saepe consequuntur,
        ad reprehenderit voluptatibus voluptas!

        <br />

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, at qui
        quisquam sed maiores, rerum pariatur accusantium cum voluptates nihil
        ut aperiam nobis, suscipit dicta itaque obcaecati omnis culpa magnam.
      </p>
    </div>
  </div>

  <div style="height: 20px"></div>

  <div class="container-fluid">
    <div class="imgFundo p-1">
      <div class="media p-1 cabecalho">
        <img
          class="align-self-center mr-3 fotoCabecalho"
          src="https://i.imgur.com/G8cAQnP.png"
          alt="Imagem de exemplo genérica"
        />
        <div class="media-body">
          <h5 class="mt-0">Mídia centralizada</h5>

          <p>
            Uma em cada três crianças no Brasil é abusada sexualmente até os
            18 anos de idade, sendo que a maioria dos abusadores são parentes
            próximos, que convivem diariamente com o menino ou a menina. Só
            que fechamos os olhos diante dessa urgente realidade.
          </p>
        </div>
      </div>

      <div class="media p-1 cabecalho">
        <img
          class="align-self-center mr-3 fotoCabecalho"
          src="https://i.imgur.com/HKXzD4b.png"
          alt="Imagem de exemplo genérica"
        />
        <div class="media-body">
          <h5 class="mt-0">Mídia centralizada</h5>

          <p>
            Durante a pandemia do coronavírus, lutamos diariamente contra um
            inimigo que ceifou milhares de vidas ao redor do mundo. Mas o
            abuso sexual infantil é uma preocupação um tanto quanto crescente,
            e que tem chamado a atenção de autoridades no Brasil e no mundo.
            Por vezes, ele vem acompanhado de mais problemas, como violência
            física, pornografia, pedofilia, bullying e tantas outras coisas
            sombrias que não gostamos sequer de pensar.
          </p>
        </div>
      </div>
    </div>

    <div style="height: 20px"></div>

  </div>

  <!--Cards-->

  <br><br><br>

  <h3 class="font-italic d-flex justify-content-center">Nossa Equipe</h3>

  <br><br>
  <div class="container">
    
    <div class="card-wrapper">
      
      <div class="card">
        
        <div class="card-image">
          <img src="https://image.ibb.co/dUTfmJ/profile_img.jpg" alt="profile one">
        </div>

      <ul class="social-icons">
        <li>
          <a href="">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="fab fa-dribbble"></i>
          </a>
        </li>
      </ul>

      <div class="details">
        <h2>John Smith
          <br>
          <span class="job-title">UI Developer</span>
        </h2>
      </div>
    </div>
  </div><!-- end box wrapper --> 

  <div class="card-wrapper">
      
    <div class="card">
      
      <div class="card-image">
        <img src="https://image.ibb.co/dUTfmJ/profile_img.jpg" alt="profile one">
      </div>

    <ul class="social-icons">
      <li>
        <a href="">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fab fa-dribbble"></i>
        </a>
      </li>
    </ul>

    <div class="details">
      <h2>John Smith
        <br>
        <span class="job-title">UI Developer</span>
      </h2>
    </div>
  </div>
</div><!-- end box wrapper --> 
     
 </div><!-- END container -->

 <br><br><br><br>



 <!--PARCEIROS-->



  <!-- Inspired by: https://try.alexa.com/marketing-stack/seo-tools/ and https://stratus.hr/

With help from https://24ways.org/2010/intro-to-css-3d-transforms/-->
<h3 class="font-italic d-flex justify-content-center ">Parceiros do Projeto Nick</h3>
<br><br><br><br>


<div class="container.">
  <div class="row flip-boxes">
    <div class="col-md-3 col-sm-4 col-8 flip-box">
      <div class="front" style="background-image: url(https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?auto=compress&cs=tinysrgb&h=350);">
        <div class="content text-center">
          First<br>
          <span class="click-for-more">
          </span>
        </div>
      </div>
      <div class="back">
        <div class="content">
          First Back
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4 col-6 flip-box">
      <div class="front" style="background-image: url(https://thumbs.dreamstime.com/b/countryside-landscape-hillside-beautiful-scenic-view-river-rural-fields-summer-season-89540702.jpg);">
        <div class="content" >
          Second
        </div>
      </div>
      <div class="back">
        <div class="content">
          Second Back
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4 col-6 flip-box">
      <div class="front" style="background-image: url(https://llandscapes-ee1.kxcdn.com/wp-content/uploads/2017/09/33945202050_48027b6b38_z.jpg);">
        <div class="content">
          Third
        </div>
      </div>
      <div class="back">
        <div class="content">
          Third Back
        </div>
      </div>
    </div>
  </div>
</div>

<br><br><br><br><br><br>















 <app-rodape></app-rodape>
 
