<div class="header">

 
    <img class="headerBg" src="https://i.imgur.com/apEK1XY.jpg" alt="">


  <app-menu-forum></app-menu-forum>

  <div class="headerBg"></div>
  <div class="headerLogo"></div>

  <h1 class="headerTitle"><strong>Fazendo a Diferença.</strong></h1>
</div>

<div>
  <div class="aboutTitle">
    <h2 class="aboutTitleText font-italic"><strong>Nosso Propósito</strong></h2>
    <hr class="container">
  </div>

  <div class="aboutText">
    <p class="aboutTextContent">
      Nick, um projeto social que foi criado baseando-se na ODS 16 da Agenda 2030 da ONU. Nossa meta é acabar com abuso, exploração, tráfico e todas as formas de violência e tortura contra crianças. Diariamente, são notificadas no Brasil, em média, 233 agressões de diferentes tipos (física, psicológica e tortura) contra crianças. O Instituto Brasileiro de Geografia e Estatística (IBGE) mostra um grave cenário de vulnerabilidade e abuso entre crianças no Brasil. De acordo com o estudo, 14,6% ou 1 em cada 7 crianças sofreu abuso sexual alguma vez na vida.
      Diante desse panorama, desenvolvemos uma plataforma de rede social, com a finalidade de ajudar as crianças que sofreram algum tipo de abuso. Na plataforma será registrado o depoimento de pessoas de forma anônima ou não, que vivenciaram essa situação.

    </p>
  </div>
</div>

<div style="height: 20px"></div> <!--PARA COLOCAR NO LUGAR DO BR-->

<!--Carrosel-->

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner d-flex justify-content-center">
    <div class="carousel-item active carrosel">
      <img class="d-block w-100" src="https://i.imgur.com/rfNA3rW.jpg" alt="Primeiro Slide">
    </div>

    <div class="carousel-item carrosel">
      <img class="d-block w-100" src="https://i.imgur.com/RhJrCvZ.jpg" alt="Segundo Slide">
    </div>

    <div class="carousel-item carrosel">
      <img class="d-block w-100" src="https://i.imgur.com/rbu3URp.jpg" alt="Terceiro Slide">
    </div>

    <div class="carousel-item carrosel">
      <img class="d-block w-100" src="https://i.imgur.com/QbgnO1J.jpg" alt="Quarto Slide">
    </div>

  </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>



<div style="height: 10px"></div>




<div class="aboutText">
  <h2 class="d-flex justify-content-center font-italic equipe" id="equipe"><strong>Nosso Time!</strong></h2>
  <hr>
  <p class="aboutTextContent mt-5">
    Nosso time é formado por profissionais qualificados, utilizamos os nossos conhecimentos técnicos para a colaboração na transformação e evolução da sociedade. Somos desenvolvedores Fullstack formados pela Generation Brasil!
  </p>
</div>



<!--CARD DA EQUIPE 1-->

<div class="container">

  <div class="card-wrapper">
    
    <div class="card">
      
      <div class="card-image">
        <img src="https://i.imgur.com/9ktsdqM.jpg" alt="Beatriz Avelino">
      </div>

    <ul class="social-icons">
      <li>
        <a href="https://www.linkedin.com/in/beatriz-avelino-00/" target="_blank" class="icoLinkedin">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/beaavelino" target="_blank" class="icoGithub">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </li>
    </ul>

    <div class="details">
      <h2>Beatriz Avelino
        <br>
        <span class="job-title">Dev. Full Stack</span>
      </h2>
    </div>
  </div>
</div><!-- end box wrapper --> 

<div class="card-wrapper">
    
  <div class="card">
    
    <div class="card-image">
      <img src="https://i.imgur.com/ePCovBt.jpg" alt="Danilo Silva">
    </div>
  
    <ul class="social-icons">
      <li>
        <a href="https://www.linkedin.com/in/danilo-da-silva-76ab10188/" target="_blank" class="icoLinkedin">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/DaniloDaSilv" target="_blank" class="icoGithub">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  
  <div class="details">
    <h2>Danilo da Silva
      <br>
      <span class="job-title">Dev. Full Stack</span>
    </h2>
  </div>
  </div>
  </div><!-- end box wrapper --> 





<div class="card-wrapper">
    
  <div class="card">
    
    <div class="card-image">
      <img src="https://i.imgur.com/O9O4Vim.jpg" alt="Esther Melo">
    </div>

    <ul class="social-icons">
      <li>
        <a href="https://www.linkedin.com/in/esther-melo-181b9b219/" target="_blank" class="icoLinkedin">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/EstherMelo" target="_blank" class="icoGithub">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </li>
    </ul>

  <div class="details">
    <h2>Esther Melo
      <br>
      <span class="job-title">Dev. Full Stack</span>
    </h2>
  </div>
</div>
</div><!-- end box wrapper --> 





<div class="card-wrapper">
    
<div class="card">

<div class="card-image">
  <img src="https://i.imgur.com/ymtnb98.jpg" alt="profile one">
</div>

<ul class="social-icons">
  <li>
    <a href="https://www.linkedin.com/in/fabianygmaglio/" target="_blank" class="icoLinkedin">
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a href="https://github.com/FabianyGomes" target="_blank" class="icoGithub">
      <i class="fa fa-github" aria-hidden="true"></i>
    </a>
  </li>
</ul>

<div class="details">
<h2>Fabiany Gomes
  <br>
  <span class="job-title">Dev. Full Stack</span>
</h2>
</div>
</div>
</div><!-- end box wrapper --> 
   
</div><!-- END container -->

<div style="height: 10px"></div>


<div class="aboutText">
  <h2 class="d-flex justify-content-center font-italic parceiros" id="ONG's"><strong>Conheça outras ONG'S</strong></h2>
  <hr>
  <p class="aboutTextContent mt-5 d-flex justify-content-center">
    Aqui você encontrará outras ONG's que tem o mesmo objetivo de desenvolver e transformar o mundo através da tecnologia. 
  </p>
</div>


<div style="height: 60px"></div>


<!--CARD DE PARCEIRO-->

<div class="containerr">
  <div class="row flip-boxes">
  <div class="col-md-3 col-sm-4 col-8 flip-box">
    <div class="front" style="background-image: url(https://i.imgur.com/SflfAOL.png);">
      <div class="content text-center"><br>
        <span class="click-for-more">
        </span>
      </div>
    </div>
    <div class="back">
      <div class="content">
        <a href="https://gen60plus.netlify.app/" target="_blank">Gen60+</a>
      </div>
    </div>
  </div>
  
  <div class="col-md-3 col-sm-4 col-6 flip-box">
    <div class="front" style="background-image: url(https://i.imgur.com/Am7eK2q.png);">
      <div class="content" >
      </div>
    </div>
    <div class="back">
      <div class="content">
        <a href="https://gen60plus.netlify.app/" target="_blank">Rento</a>
      </div>
    </div>
  </div>
  
  <div class="col-md-3 col-sm-4 col-6 flip-box">
    <div class="front" style="background-image: url(https://i.imgur.com/J9U1GGY.png);">
      <div class="content">
      </div>
    </div>
    <div class="back">
      <div class="content">
        <a href="https://gen60plus.netlify.app/" target="_blank">Toddes Company</a>
      </div>
    </div>
  </div>
  </div>
  </div>
  
  <div style="height: 100px"></div>















 <app-rodape></app-rodape>
 
